<style>
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div.parent{
    height: 500px;
    background-color: black;
}
div.child{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: orange;
    transition: 1s ease;
    animation: 1s move;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
div.child-2{
    width: 100px;
    height: 100px;
    margin-left: 100px;
    border-radius: 50%;
    background-color: orange;
    animation: 1s move;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;
}

@keyframes move {
    0%{
        transform: translateY(0vw);
    }
    50%{
        transform: translate(300px , 200px);
        background-color: cyan;
    }
    100%{
        transform: translatey(400px);
        background-color: crimson;
    }
}
</style>